---
import { getCollection } from "astro:content";
import BlogPosts from "./BlogPosts.astro";

const contentTitle: string = Astro.props.contentTitle;
const pageSize: number = Astro.props.pageSize || 3;
const allPosts = await getCollection("posts");
const paginatedPosts = allPosts.slice(0, pageSize);

import Pagination from "./Pagination.astro";
---

{contentTitle && <h3 data-ui="display">{contentTitle}</h3>}
<ul data-list="unstyled">
  {
    paginatedPosts?.map((post) => (
      <>
        <BlogPosts
          title={post.data.title}
          description={post.data.description}
          url={`/posts/${post.slug}`}
        />
      </>
    ))
  }
</ul>

<style>
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
</style>
