---
export type Props = {
  headerTitle?: string;
  headerDescription?: string;
};
// const {  headerTitle, headerDescription } = Astro.props;
const headerTitle = Astro.props.headerTitle || "Header Title";
const headerDescription = Astro.props.headerDescription || "Description text";
---

<header>
  <section>
    <h1 data-ui="display">{headerTitle}</h1>
    <p>{headerDescription}</p>
  </section>
</header>
