body {
  min-width: 20.3125rem;
}

main {
  padding-block: 2rem;
}

main > section {
  padding-inline: 2rem;
}

header > section > p {
  font-size: 2rem;
}

h2 a[href] {
  font-size: var(--h2);
  /* color: currentColor; */
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
}

footer > div {
  flex-direction: column;
}

nav > div {
  margin-block-start: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
