body {
  min-width: 20.3125rem;
}

main {
  padding-block: 2rem;
}

main > section {
  padding-inline: 2rem;
}

header {
  min-height: fit-content;
  padding-block: 2rem;
  grid-template-rows: minmax(300px, auto);
}

header > section > p {
  font-size: 2rem;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h2 a[href] {
  font-size: var(--h2);
  /* color: currentColor; */
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
}

footer > div {
  flex-direction: column;
}

* + section {
  margin-block-start: 2rem;
}

section:has(> nav) {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

article > * + * {
  margin-block-start: 1.5rem;
}

article p {
  max-width: 80ch;
}

article img {
  border: 2px lightgray solid;
  border-radius: 0.3rem;
}

code {
  color: rgb(158, 49, 49);
  font-size: smaller;
}

article li {
  font-size: unset;
  font-size: var(--fs-0);
}
