---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
import Welcome from "#components/astro/Welcome.astro";
---

<Layout pageTitle="Astro Kit" showBreadcrumb={false}>
  <Welcome />
  <section>
    <CollectionList pageSize={2} />
  </section>
</Layout>
