---
const { title, url, description } = Astro.props;
---

<li>
  <h1 data-ui="display">{title}</h1>
  {description && <p>{description}</p>}
  <p>
    <a href={url} aria-label={`Continue reading ${title}`}>Continue</a>
  </p>
  <hr />
</li>
