---
const { title, url, description } = Astro.props;
---

<li>
  <h3>{title}</h3>
  {description && <p>{description}</p>}
  <p>
    <a href={url} aria-label={`Continue reading ${title}`}>Continue</a>
  </p>
  <hr />
</li>
