---
const platform = "github";
const username = "shawn-sandy";
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="shawnsandy" />
  <Social platform="github" username="shawn-sandy" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>
