---
const platform = "github";
const username = "shawn-sandy";
import Social from "./Social.astro";
---

<footer>
  <div>
    <p>
      Learn more about my projects on

      <Social platform="twitter" username="shawnsandy" />{" "}

      <Social platform="github" username="shawn-sandy" />{" "}

      <Social platform="youtube" username="astrodotbuild" />
    </p>
  </div>
</footer>
