---
import type { HTMLAttributes } from "astro/types";
export interface Props extends HTMLAttributes<"a"> {
  issueTitle: string;
  issueDescription?: string;
  issueLabel?: string;
  issueRepository?: string;
  issueTemplate?: string;
  repoProvider?: string;
}

const {
  issueTitle,
  issueDescription,
  issueLabel,
  issueRepository,
  repoProvider,
  issueTemplate,
  ...attrs
} = Astro.props;

const gitHubUrl = `${repoProvider || "https://github.com"}/${issueRepository}/issues/new?template=${issueTemplate || "BUG_REPORT.md"}&title=${encodeURIComponent(issueTitle)}&body=${issueDescription ? encodeURIComponent(issueDescription) : ""}`;
---

<>
  <a href={gitHubUrl} target="_blank" rel="noopener noreferrer" {...attrs}>
    <i>{issueLabel || "Open an issue"}</i>
  </a>
</>
