---
import { getCollection } from "astro:content";
const postListTitle = Astro.props.postListTitle || "Latest Posts";
const allPosts = await getCollection("posts");
---

<h4 data-ui="display">
  {postListTitle}
</h4>
<ul data-list="unstyled">
  {
    allPosts?.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>{post.data.title} </a>
      </li>
    ))
  }
</ul>
