---

---

<aside>
  <h3 data-ui="display">Sidebar</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facere quae
    debitis corrupti fugiat, necessitatibus maxime possimus placeat omnis
    dolorum quaerat aliquam, labore vitae molestias odit perspiciatis aliquid
    non nostrum?
  </p>
</aside>
