---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import "@fpkit/react/styles";
const { pageTitle, pageDescription } = Astro.props;
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="A brief description of the page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <Header headerTitle={pageTitle} headerDescription={pageDescription} />
    <main>
      <section arai-label="main-content">
        <article><slot /></article>
        <Sidebar />
      </section>
    </main>
    <Footer />
  </body>
</html>
