---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
const pageTitle = "Home page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fpkit/react/libs/index.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fpkit/react@0.3.39/libs/index.css"
    />
    <meta name="description" content="A brief description of the page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <Header headerTitle={pageTitle} />
    <main>
      <section arai-label="main-content"><slot /></section>
      <Sidebar />
    </main>
    <Footer />
  </body>
</html>
