---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navigation from "../components/astro/Navigation.astro";
import Footer from "../components/astro/Footer.astro";
import Header from "../components/astro/Header.astro";
import Sidebar from "../components/astro/Sidebar.astro";
import AstroBreadcrumb from "#components/react/astro-breadcrumb.tsx";
import "@fpkit/react/styles";

// types
type Props = {
  pageTitle?: string;
  pageDescription?: string;
  showBreadcrumb?: boolean;
  breadcrumbRoutes?: [];
};

const showBreadcrumb =
  Astro.props.showBreadcrumb === undefined ? true : Astro.props.showBreadcrumb;

const { pageTitle, pageDescription, breadcrumbRoutes } = Astro.props;
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="A brief description of the page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle || "Astro Kit"}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <Header headerTitle={pageTitle} headerDescription={pageDescription} />
    <main>
      <section arai-label="main-content">
        <article>
          {
            showBreadcrumb && (
              <>
                <div>
                  <AstroBreadcrumb
                    routes={breadcrumbRoutes || undefined}
                    client:load
                  />
                </div>
                <hr />
              </>
            )
          }
          <slot />
        </article>
        <Sidebar />
      </section>
    </main>
    <Footer />
  </body>
</html>
